@import url("https://fonts.googleapis.com/css2?family=Voltaire&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Kanit:wght@500&display=swap");



/* fonts */

* {
  box-sizing: border-box;
}


body {
  padding: 0;
  overflow: hidden;
  background-color: #212121;
  margin: 0;
}

header {
  background-image: url(/pexels-ivan-samkov-7213439-min.jpg);
  padding: 0px;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Fragment Mono", monospace;
}

nav {
  position: relative;
  padding: 4px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.logo {
  font-size: 24px;
  width: 10px;
  z-index: 10;
  padding: 20px;
  font-weight: 700;
}
#imagelogo {
  width: 200px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  overflow: hidden;
  display: flex;
}

li {
  padding: 4px;
  position: relative;
}

a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 10px;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  display: none;
}


ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
}

ul li a:hover::before {
  visibility: visible;
  width: 100%;
  transform: scaleX(1);
}





/* task liste started */

#container {
  width: 500px;
  margin: 70px auto;
  
  text-align: center;
}

#add-task {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  width: 100px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


#add-task:hover {
  background-color: #000000;
}
.btn {
  width: 130px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  justify-content: center;
  transition: all .4s;
 }
 
 
/* input  */

.input {
  max-width: 400px;
  outline: none;
  border: 1px solid #dadada;
  padding: 10px;
  border-radius: 5px;
  background-color: #f3f7fe;
  transition: .3s;
  color: #3b82f6;
  width: calc(4 * 190px);
}

.input::placeholder {
  color: #000000;
}

.input:focus {
  border: 1px solid #02d610;
  box-shadow: 0 0 0 5px #42c83e5f
}


div li {
  padding: 5px 10px;
  border: 5px solid #212121;
  margin-top: 50px;
  background-color: #ffffff;
  display: flex;
  text-align: center;

  justify-content: space-between;
}

div li:hover {
  background-color: #ddd;
}


.delete {
  background-color: #e44135;
  border: none;
  width: 60px;
  display: flex;
  padding: 10px;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

.delete:hover {
  background-color: #da190b;
  
  transform: rotate(-10deg);

}
div ul {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 430px) {
  
  #container {
    width: 370px;
    margin: 10px;
    margin-top: 20px;  
  }
  
  .input{
    max-width: 400px;
    width: calc(1.5* 190px);
  }
  
  div li { 
     margin-top: 30px;
  
  }


  nav{
    height: 150px;
  }


  #imagelogo{
   width:100px;
  }
  
  .toggle-switch{
    left: 100cm;
}

/* qwegfg */
.toggle-switch {
  position: relative;
  width: 100px;
  height: 50px;
  --light: #d8dbe0;
  --dark: #010002;
  --link: rgb(176, 246, 34);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}




